<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DijMap</title>
</head>
<style>
#container{
    height: 700px;
    border: 3px dashed #ccc;
	/*margin: 10 auto;*/
}
#clearBtn, span{
	margin-left: 12px;
}
</style>
<body>
<h1>找最短路径游戏</h1>
<span>前端技术参考资料：https://ecomfe.github.io/zrender-doc/public/api.html</span><br/>
<span style="color: #44bb99;">说明：1）左键单击创建节点，左键按下拖动到终点实现划线；2）右键单击删除节点/边；3）选择起点/终点状态后，中键选择起点/终点</span><br/>
<button id="clearBtn">清除所有点</button>
<label><input name="demo" type="radio" value="st"/>选起点</label>
<label><input name="demo" type="radio" value="ed"/>选终点</label>
<button id="nearest">开始游戏</button>
<button id="restgame">重新游戏</button>
<div id="container"></div>
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/zrender.min.js"></script>
<script src="../js/inner-map.js"></script>
</body>
</html>